<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="app.explore"><i class="icon-eye"></i> Explore </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="app.newProject"><i class="icon-plus"></i> Start a project </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="appSimple.login"><i class="icon-logout"></i> Log out </a>
      </li>
    </ul>
  </nav>
</div>